.button-primary {
    width: auto;
    outline: none;
    border: 0;
    color: black;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px #0a0a0a20;
    transition: 0.3s linear all;
    &:hover

{
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px #0a0a0a40;
}

&:disabled {
    cursor: default;
    opacity: 0.7;
}
}
