

.resonse-address h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 4px 0px;
}

.resonse-address {
    width: 183px;
}

.resonse-address p {
    font-size: 10px;
}

.resonse-hour {
    width: 100px;
    text-align: end;
    font-size: 14px;
}
